mixin bank()
    section.bank&attributes(attributes)
        .bank__section
            h2.bank__title Digital Currency Balance
            .bank__block
                .bank__item
                    p.bank__name.bank__name_first Type
                    p.bank__info Trade Engine BTC
                .bank__item
                    .bank__name Pending Balance
                    p.bank__info $0.00000000
                .bank__item
                    p.bank__name Active Balance
                    p.bank__info $0.000065656
                .bank__item
                    p.bank__name Total Balance
                    p.bank__info $0.000094854
                .bank__item
                    p.bank__name.bank__name_last Action
                    .bank__menu
                        .bank__buttons
                            button.bank__button WITHDRAW
                            button.bank__button DEPOSIT
        .bank__section
            h2.bank__title Digital Currency Balance
            .bank__block
                .bank__item
                    p.bank__name.bank__name_first Type
                    p.bank__info Trade Engine BTC
                .bank__item
                    .bank__name Pending Balance
                    p.bank__info $0.00000000
                .bank__item
                    p.bank__name Active Balance
                    p.bank__info $0.000065656
                .bank__item
                    p.bank__name Total Balance
                    p.bank__info $0.000094854
                .bank__item
                    p.bank__name.bank__name_last Action
                    .bank__menu
                        .bank__buttons
                            button.bank__button WITHDRAW
                            button.bank__button DEPOSIT