mixin content()
  section.content&attributes(attributes)
    .content__block
      img.content__brand(src="assets/img/brand.svg" alt="brand")
      h2.content__title BUY, SELL & ACCEPT BITCOIN! Realtime Bitcoin Trading Platform
      .content__line
      p.content__info
          | India's Fastest 24/7
          br
          | Realtime Bitcoin Trading Platform
      .content__button
        a(href="#").content__link HOW IT WORKS
        a(href="signup.html").content__link SIGN UP