mixin content()
  section.content&attributes(attributes)
    .content__block
      img.content__brand(src="assets/img/logo.svg" alt="logo")
      h2.content__title BUY, SELL & ACCEPT BITCOIN! Realtime Bitcoin Trading Platform
      .content__line
      p.content__info
          | India's Fastest 24/7
          br
          | Realtime Bitcoin Trading Platform
      .content__button
        a(href="#").content__link HOW IT WORKS
        a(href="signup.html").content__link SIGN UP
    .contact
      h3.contact__us Contact Us
      p.contact__text Yourcoin Traders
      p.contact__text 56, Jadeja Nagar
      p.contact__text Nr Marketing Yard
      p.contact__text Halol - 389350
      p.contact__text Gujarat
      p.contact__text Ph: 8460736567
      p.contact__text Service Tax Registration: ARCPD9422CSD001
