extends /blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/login/login
include ../blocks/footer/footer

block head
    - var pageTitle = 'Login';

block content
    +header
    +login
    +footer
