mixin header()
    section.header&attributes(attributes)
        img.header__logo(src="assets/img/logo.svg" alt="logo")
        ul.header__menu
            li.header__item
                a.header__link(href="index.html") HOME
            li.header__item
                a.header__link(href="bank.html") BANK
            li.header__item
                a.header__link(href="buy&sell.html") BUY & SELL
            li.header__item
                a.header__link(href="login.html") LOGIN
            li.header__item
                a.header__link(href="#") ABOUT US
        .header__info
            p.header__price Last price:
            p.header__cost $50
        button.hamburger &#9776;
        button.cross &#735;
        .menu
            ul.menu__block
                li.menu__item
                    a.menu__link(href="#") HOME
                li.menu__item
                    a.menu__link(href="bank.html") BANK
                li.menu__item
                    a.menu__link(href="buy&sell") BUY & SELL
                li.menu__item
                    a.menu__link(href="login.html") LOGIN
                li.menu__item
                    a.menu__link(href="#") ABOUT US

