mixin charts()
    section.charts&attributes(attributes)
        h2.charts__title CHARTS
        .charts__section
            .charts__block
                .charts__header
                    p.charts__nameHeader BUY BITCOIN
                    p.charts__price $0.01
                .charts__body
                    input.charts__input(type="text" placeholder="BTC to Buy")
                    input.charts__input(type="number" step="0.01")
                    button.charts__buyButton BUY
                    p.charts__text Min INR order is $100.00 and Min BTC amount is $0.01
            .charts__block
                .charts__header
                    p.charts__nameHeader SELL BITCOIN
                    p.charts__price $0.01
                .charts__body
                    input.charts__input(type="text" placeholder="BTC to Sell")
                    input.charts__input(type="number" step="0.01")
                    button.charts__buyButton SELL
                    p.charts__text Min INR order is $100.00 and Min BTC amount is $0.01
            .charts__block
                .charts__header
                    p.charts__nameHeader 10 / 39054 OF ALL EXCHANGE TRADES
                .charts__body
                    .charts__pagination
                        a(href="#").charts__item First
                        a(href="#").charts__item Previous
                        a(href="#").charts__item 1
                        a(href="#").charts__item 2
                        a(href="#").charts__item 3
                        a(href="#").charts__item 4
                        a(href="#").charts__item 5
                        a(href="#").charts__item Next
                        a(href="#").charts__item Last
                    .buy__container.charts__container
                        table.buy__table
                            tr.buy__thead
                                th.buy__theadData.charts__theadData TIME
                                th.buy__theadData.charts__theadData TYPE
                                th.buy__theadData.charts__theadData VOLUME
                                th.buy__theadData.charts__theadData RATE
                                th.buy__theadData.charts__theadData Total
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
                            tr.buy__main
                                td.buy__mainData.charts__mainData 7 minutes ago
                                td.buy__mainData.charts__mainData sell
                                td.buy__mainData.charts__mainData $ 0.123
                                td.buy__mainData.charts__mainData $ 72600.00
                                td.buy__mainData.charts__mainData $ 10018.80
