mixin charts()
    section.charts&attributes(attributes)
        h2.charts__title CHARTS
        .charts__section
            .charts__block
                .charts__header
                    p.charts__nameHeader BUY BITCOIN
                    p.charts__price