.buy
  background-size cover
  background url("../img/background.png") repeat
  min-height calc(100vh - 66px)
  background-size 100px
  position relative
  padding-top 85px
  &__title
    color rgb(255, 255, 255)
    font-family "Open Sans"
    font-size 42px
    font-weight 600
    text-align center
    margin 120px 0 100px
  &__convert
    width 90%
    margin 30px auto 0
    &:after
      content ""
      clear both
      display table
  &__block
    width 45%
    background-color #fff
    border-top-left-radius 5px
    border-top-right-radius 5px
    &_buy
      float left
    &_sell
      float right
  &__convertHeader
    width 100%
    height 67px
    background-color #f5f5f5
    border-top-left-radius 5px
    border-top-right-radius 5px
  &__act
    float left
    color #5f5e63
    font-family "Open Sans"
    font-size 24px
    font-weight 700
    text-decoration none
    padding-top 17px
    margin-left 5%
  &__balance
    float right
    color #5f5e63
    font-family "Open Sans"
    font-size 16px
    font-weight 400
    text-decoration none
    padding-top 22px
    margin-right 5%
  &__convertBody
    height 170px
    position relative
  &__amount
    width 28%
    margin 30px 0 0 5%
    display inline-block
    color #5f5e63
    font-family "Open Sans"
    font-size 16px
    font-weight 600
    &:after
      content "BTC"
      color #eb4824
      border 1px solid #eb4824
      margin-left -6px
      background-color #f5f5f5
      font-size 14px
      padding 1px 3px 2px
      border-top-right-radius 5px
      border-bottom-right-radius 5px
      position relative
      top -1px
  &__inputAmount
    display inline-block
    -webkit-appearance none
    -moz-appearance none
    appearance none
    border 1px solid #eb4824
    width 80%
    border-top-left-radius 5px
    border-bottom-left-radius 5px
    margin-top 7px
    padding-left 10px
  &__price
    width 28%
    margin 30px 0 0 5%
    display inline-block
    color #5f5e63
    font-family "Open Sans"
    font-size 16px
    font-weight 600
    &:after
      content "INR"
      color #eb4824
      border 1px solid #eb4824
      margin-left -6px
      background-color #f5f5f5
      font-size 14px
      padding 1px 3px 2px
      border-top-right-radius 5px
      border-bottom-right-radius 5px
      position relative
      top -1px
  &__inputPrice
    display inline-block
    -webkit-appearance none
    -moz-appearance none
    appearance none
    border 1px solid #eb4824
    width 80%
    border-top-left-radius 5px
    border-bottom-left-radius 5px
    margin-top 7px
    padding-left 10px
  &__button
    display block
    background-color #eb4824
    -webkit-appearance none
    -moz-appearance none
    appearance none
    color #fff
    border none
    border-radius 5px
    float right
    width 120px
    height 24px
    margin 53px 4% 0 0
  &__total
    bottom 10px
    left 5%
    font-weight 400
    position absolute
    color #5f5e63
  &__sum
    bottom 10px
    left 15%
    font-weight 400
    color #5f5e63
    position absolute
  &__orders
    width 90%
    margin 160px auto 0
    &:after
      content ""
      clear both
      display table
    &:last-of-type
      padding-bottom 120px
  &__ordersSell
    width 45%
    float left
    &_buy
      float right
    &_active
      width 100%
  &__container
    height 540px
    width 100%
    overflow-x scroll
    float left
    margin-top 60px
  &__tableName
    color rgb(255, 255, 255)
    font-family "Open Sans"
    font-size 32px
    font-weight 600
    text-align center
    margin-left 5%
  &__table
    width 100%
    background-color #fff
  &__thead
    background #f5f5f5
    height 67px
  &__theadData
    background-color #f5f5f5
    height 67px
    text-align center
    color #5f5e63
    font-family "Open Sans"
    font-size 24px
    font-weight 700
    text-decoration none
    padding-top 17px
  &__main
    height 40px
    text-align center
    color #5f5e63
    font-family "Open Sans"
    font-size 16px
    font-weight 400
    text-decoration none
    padding-top 17px
  &__mainData
    color #eb4824