mixin buy()
    section.buy&attributes(attributes)
        h2.buy__title Buy & Sell
        .buy__convert
            .buy__block.buy__block_buy
                .buy__convertHeader
                    p.buy__act Buy BTC
                    p.buy__balance INR balance: 0.02
                .buy__convertBody
                    label.buy__amount Amount to Buy
                        input(type="number" step="0.0001").buy__inputAmount
                    label.buy__price Price per BTC
                        input(type="number" step="0.0001").buy__inputPrice
                    button.buy__button Place order
                    p.buy__total Total:
                    p.buy__sum 0.0000 INR
            .buy__block.buy__block_sell
                .buy__convertHeader
                    p.buy__act Buy BTC
                    p.buy__balance INR balance: 0.02
                .buy__convertBody
                    label.buy__amount Amount to Buy
                        input(type="number" step="0.0001").buy__inputAmount
                    label.buy__price Price per BTC
                        input(type="number" step="0.0001").buy__inputPrice
                    button.buy__button Place order
                    p.buy__total Total:
                        p.buy__sum 0.0000 INR
        .buy__orders
            .buy__ordersSell
                h2.buy__tableName Sell Orders
                .buy__container
                    table.buy__table
                        tr.buy__thead
                            th.buy__theadData Price per BTC
                            th.buy__theadData BTC Amount
                            th.buy__theadData Total: (INR)
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
            .buy__ordersSell.buy__ordersSell_buy
                h2.buy__tableName Buy Orders
                .buy__container
                    table.buy__table
                        tr.buy__thead
                            th.buy__theadData Price per BTC
                            th.buy__theadData BTC Amount
                            th.buy__theadData Total: (INR)
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
                        tr.buy__main
                            td.buy__mainData 1025.0000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 41.10
        .buy__orders
            .buy__ordersSell.buy__ordersSell_active
                h2.buy__tableName Active Orders
                .buy__container
                    table.buy__table
                        tr.buy__thead
                            th.buy__theadData Date
                            th.buy__theadData Type
                            th.buy__theadData Amount BTC
                            th.buy__theadData BTC Remaining
                            th.buy__theadData Price
                            th.buy__theadData IRN
                            th.buy__theadData Fee (%)
                            th.buy__theadData Cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData cancel
        .buy__orders
            .buy__ordersSell.buy__ordersSell_active
                h2.buy__tableName Trade History
                .buy__container
                    table.buy__table
                        tr.buy__thead
                            th.buy__theadData Date
                            th.buy__theadData Type
                            th.buy__theadData Amount BTC
                            th.buy__theadData Price
                            th.buy__theadData Total
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
                        tr.buy__main
                            td.buy__mainData 2017-02-06 04:42:07
                            td.buy__mainData BUY
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 0.04000000
                            td.buy__mainData $ 241.84
l