mixin footer()
  section.footer&attributes(attributes)
    p.footer__text.
        India's Fastest 24/7 Realtime Bitcoin Trading Platform
    .contact
        h3.contact__us Contact Us
        p.contact__text Yourcoin Traders
        p.contact__text 56, Jadeja Nagar - Nr Marketing Yard - Halol - 389350 - Gujarat
        p.contact__text Ph: 8460736567
        p.contact__text Service Tax Registration: ARCPD9422CSD001
